[Desktop Entry]
Type=Application
Version=1.0
Name=Unitree Lidar Launcher
Comment=Auto start Unitree lidar launcher on login
TryExec=/home/r1/Unitree_lidar/unitree_lidar_launcher.sh
Exec=/home/r1/Unitree_lidar/unitree_lidar_launcher.sh
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
Terminal=false
